# Local PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ley_rep
DATABASE_SSL=false

# Producción con Neon PostgreSQL
# DATABASE_URL=postgresql://USUARIO:CLAVE@HOST/neondb?sslmode=require
# DATABASE_SSL=true
# DATABASE_INIT=true

PORT=3000
SESSION_SECRET=impulsorep_cambiar_este_valor
NODE_ENV=development
